# Python for Data Analysis - Workbook

### Preliminaries

In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('../Memorial Day DS Project/us_only_v1.0.csv')

## Built-in Data Structures, Functions, and Files

### Data Structures and sequences

#### Tuples

In [8]:
# a tup is a fixed length, immutable sequence of python obj's. They can be created like this:

tup = 4,5,6

In [9]:
# This one is nested
nested_tup = (4,5,6),(7,8)

In [11]:
# Any sequence or iterator (more on that later) can be converted to a tuple like this:

tuple([4,4,2])
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [12]:
# Just like any C, C++, or aa array, tuples can be accessed with thte [] notation
tup[0]

4

In [15]:
# You can concatenate tuples using the '+' symbol to produce longer tuples
tup + nested_tup

(4, 5, 6, (4, 5, 6), (7, 8))

In [16]:
# But using the '*' character ('*' means multiply) instead of the '+' character has the
# effect of creating that many copies of the tuple

tup * 4

(4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)

In [17]:
# Replicate a swap function as in e.g. C

tup = [4,5,6]
a, b = 1, 2

In [21]:
# Common use for variable unpacking is iterating over sequences or lists

seq = [1,2,3], [4,5,6], [7,8,9]

for a,b,c in seq:
    print('a={0} b={1}, c={2}'.format(a,b,c))

a=1 b=2, c=3
a=4 b=5, c=6
a=7 b=8, c=9

In [22]:
# Count the number of occurences of a particular value in a list

a = (1,2,2,2,3,4,2)
a.count(2)

4

#### Lists

In [23]:
# List is variable length and contents can be modified in-place
# Defined using square brackets
# Equivalent to Javascript Array

In [24]:
# List function is commonly used in data processing as a way to create an iterator expression

gen = range(10)

In [25]:
gen

range(0, 10)

In [27]:
# Now we have a list from 0 - 9 (10 values)

list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
ex_list = ['foo', 'bar', 'baz']

In [35]:
# Can append or insert elements
ex_list.append('bow')

In [36]:
# Note: inserting/popping elements in a list is computationally expensive
ex_list.insert(0, 'dog')
ex_list

['dog', 'foo', 'bar', 'baz', 'bow']

In [37]:
ex_list.pop(0)
ex_list

['foo', 'bar', 'baz', 'bow']

In [38]:
# Or remove by value
ex_list.remove('baz')
ex_list

['foo', 'bar', 'bow']

In [42]:
# Check to see if a value is included in a specific list
'foo' in ex_list

True

In [43]:
'foo' not in ex_list

False

In [45]:
# Concatenation (expensive)

ex_list2 = ['dog', 'cat', 'mouse']
ex_list + ex_list2

['foo', 'bar', 'bow', 'dog', 'cat', 'mouse']

In [47]:
# Extension (cheaper)

ex_list.extend(ex_list2)
ex_list

['foo', 'bar', 'bow', 'dog', 'cat', 'mouse', 'dog', 'cat', 'mouse']

In [49]:
# Sorting lists

a = [3,4,1]
a.sort()
a

[1, 3, 4]

In [51]:
# Can pass in different keys, or functions that produce a value to search the objects

ex_list.sort(key=len)
ex_list

['foo', 'bar', 'bow', 'dog', 'cat', 'dog', 'cat', 'mouse', 'mouse']

##### Binary Search

In [62]:
# Binary search is implemented through the native "bisect" module

import bisect
c = [1,2,2,2,3,4,7]

In [63]:
bisect.bisect(c,2)

4

In [64]:
bisect.bisect(c,7)

7

In [65]:
# Inserting an element
# Note...list has to be sorted first!

bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

##### Slicing a List

In [66]:
# Slicing - basic form is start:stop to the indexing operator

seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [67]:
# Can also assign with a sequence

seq[3:4] = [7,8]
seq

[7, 2, 3, 7, 8, 5, 6, 0, 1]

In [68]:
# Use negative indices to slice the sequence relative to the end

seq[-4:]

[5, 6, 0, 1]

In [69]:
seq[4:]

[8, 5, 6, 0, 1]

In [72]:
# Step size can be defined after a second colon, as below
seq[1:8:2]

[2, 7, 5, 0]

In [73]:
# Here's a handy way to reverse a list

seq[::-1]

[1, 0, 6, 5, 8, 7, 3, 2, 7]